
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 255 255 255; /* White */
    --foreground: 50 50 50; /* Dark Gray */
    --card: 255 255 255;
    --card-foreground: 50 50 50;
    --popover: 255 255 255;
    --popover-foreground: 50 50 50;
    --primary: 30 30 30; /* Very Dark Gray */
    --primary-foreground: 230 230 230; /* Very Light Gray */
    --secondary: 240 240 240; /* Light Gray */
    --secondary-foreground: 50 50 50;
    --muted: 220 220 220; /* Gray */
    --muted-foreground: 100 100 100; /* Dark Gray */
    --accent: 0 0% 96%; /* Off-White */
    --accent-foreground: 30 30 30;
    --destructive: 220 53 69;
    --destructive-foreground: 255 255 255;
    --border: 200 200 200;
    --input: 240 240 240;
    --ring: 50 50 50;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 20 20; /* Very Dark Gray */
    --foreground: 230 230 230; /* Very Light Gray */
    --card: 30 30 30;
    --card-foreground: 230 230 230;
    --popover: 30 30 30;
    --popover-foreground: 230 230 230;
    --primary: 255 255 255; /* White */
    --primary-foreground: 0 0 0; /* Black */
    --secondary: 50 50 50; /* Dark Gray */
    --secondary-foreground: 230 230 230;
    --muted: 70 70 70; /* Gray */
    --muted-foreground: 150 150 150; /* Light Gray */
    --accent: 0 0% 96%;
    --accent-foreground: 230 230 230;
    --destructive: 220 53 69;
    --destructive-foreground: 255 255 255;
    --border: 73 73 74;
    --input: 50 50 50;
    --ring: 230 230 230;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
